.wp-post-browsing-history-admin-table {
	margin: 15px 0 15px 0;
}
.wp-post-browsing-history-admin-table caption {
	border-left: solid 4px #00a0d2;
	margin: 0 0 10px 0;
	padding: 3px 0 3px 7px;
	text-align: left;
}
.wp-post-browsing-history-admin-table th {
	text-align: right;
	width: 120px;
}
.wp-post-browsing-history-admin-table td label{
	margin: 0 10px 0 0;
}
.wp-post-browsing-history-admin-table small {
	margin: 0 0 0 10px;
}
.wp-post-browsing-history-admin-table input[type="checkbox"] {
	margin: 0 5px 0 0;
}